<div id="lani" data-instance-endpoint={{ plugin_lani_instance_endpoint }}>
    <div id="lani-link">
        This installation is not yet registered with Lani.
        <a href={{ plugin_lani_registration_link }}>Register with Lani</a>
    </div>
    <button id="lani-check" class="btn btn-primary" type="button">Check again</button>
    <div id="lani-info" style="display: none;">
        <h4>You're connected to Lani!</h4>
        <p><strong>Print Center:</strong> <a id="lani-pc-link"></a></p>
    </div>
</div>
